@model Parents_Bank.Models.BankAccount

@{
    ViewBag.Title = "Account Details";
}

<h2>Bank Account</h2>

<div>
   @* <h4>Bank Account</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OwnerEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecipientEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecipientEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpenDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpenDate)
        </dd>
        <dt>
            Interest Amount
        </dt>
        <dd>
            @ViewBag.InterestAmount
           
        </dd>
        <dt>
            Balance Amount
        </dt>
        <dd>
            @ViewBag.BalanceAmount

        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InterestRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InterestRate)
        </dd>
        
    </dl>
    @if ((decimal)ViewBag.InterestAmount > 10)
    {
     <img src = "~/Content/congrats.jpg" />
    }
</div>
<p>
    @if(Model.IsOwner(User.Identity.Name))
    { 
        @Html.ActionLink("Edit", "Edit", new {id = Model.Id})
        <div>
            @{ Html.RenderAction("Index", "Transactions"); }
        </div>
    }
    @if(Model.IsRecipient(User.Identity.Name))
    {
        <div>
            @{ Html.RenderAction("AccountsList", "Transactions", new { id = Model.Id }); }
        </div>
    }
    <hr/>
    <div>
        @{ Html.RenderAction("AccountDetailsWishListItems", "WishListItems", new { id = Model.Id });}
    </div>
    @if (Model.IsOwner(User.Identity.Name))
    {
        <p>
            @Html.ActionLink("Back to Accounts List", "Index")
        </p>
    }
</p>
