@model Parents_Bank.Models.BankAccount

@{
    ViewBag.Title = "Account Details";
}

<h2>Details</h2>

<div>
    <h4>Bank Account</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OwnerEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecipientEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecipientEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpenDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpenDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InterestRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InterestRate)
        </dd>

    </dl>
</div>
<p>
    @if(Model.IsOwner(User.Identity.Name))
    { 
        @Html.ActionLink("Edit", "Edit", new {id = Model.Id})
    }
    <div>
        @{ Html.RenderAction("Index", "Transactions"); }
    </div>
    <hr/>
    <div>
        @{ Html.RenderAction("Index", "WishListItems");}
    </div>
    @if (Model.IsOwner(User.Identity.Name))
    {
        <p>
            @Html.ActionLink("Back to Accounts List", "Index")
        </p>
    }
</p>
