@model Parents_Bank.Models.BankAccount

@{
    ViewBag.Title = "Account Details";
}
<style type="text/css">
    .legends {
        list-style: none;
        float: right;
    }

        .legends li {
            float: left;
            margin-right: 10px;
        }

        .legends span {
            border: 1px solid #ccc;
            float: left;
            width: 12px;
            height: 12px;
            margin: 2px;
        }
        /* your colors */
        .legends .progress-bar-success {
            background-color: #00ff00;
        }

        .legends .progress-bar-warning {
            background-color: #ff6347;
        }
</style> 
<h2>Bank Account</h2>

<div>
   @* <h4>Bank Account</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OwnerEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecipientEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecipientEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpenDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpenDate)
        </dd>
        <dt>
            Interest Amount
        </dt>
        <dd>
            @ViewBag.InterestAmount
           
        </dd>
        <dt>
            Balance Amount
        </dt>
        <dd>
            @ViewBag.BalanceAmount

        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InterestRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InterestRate)
        </dd>
        
    </dl>
    @if ((decimal)ViewBag.InterestAmount > 10)
    {
     <img src = "~/Content/congrats.jpg" />
    }
</div>
@{
    var interestAmount = (ViewBag.InterestAmount / (ViewBag.InterestAmount + ViewBag.BalanceAmount)) * 100;
    var principalAmount = 100 - interestAmount;
    <div class="progress progress-striped active">
        <div class="progress-bar progress-bar-success" role="progressbar" style="width: @(principalAmount+ "%")">
            @Math.Round(principalAmount, 1)
        </div>
        <div class="progress-bar progress-bar-danger" role="progressbar" style="width: @(interestAmount+ "%")">
            @Math.Round(interestAmount, 1)
        </div>
    </div>
    <ul class="legends">
        <li><span class="progress-bar-success"></span> Savings</li>
        <li><span class="progress-bar-warning"></span> Interest</li>
    </ul>
} 
<p>
    
        <div>
            @{ Html.RenderAction("AccountsList", "Transactions", new { id = Model.Id, isOwner=Model.IsOwner(User.Identity.Name) }); }
        </div>
    
    <hr/>
    <div>
        @{ Html.RenderAction("AccountDetailsWishListItems", "WishListItems", new { id = Model.Id });}
    </div>
    @if (Model.IsOwner(User.Identity.Name))
    {
        <p>
            @Html.ActionLink("Back to Accounts List", "Index")
        </p>
    }
</p>
