@model Parents_Bank.Models.WishListItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="breadcrumb-item">@Html.ActionLink("Account List", "Index", "BankAccounts")</li>
        <li class="breadcrumb-item">@Html.ActionLink("Account Details", "RedirectDetails", new { id = Model.AccountId })</li>
        <li class="breadcrumb-item active">Wishlist Details</li>
    </ol>
</div>
<div>
    <h4>WishList Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Account.OwnerEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.OwnerEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAdded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAdded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WebAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WebAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchasedTag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchasedTag)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Account Details", "RedirectDetails", new { id = Model.AccountId })
   
</p>
